body {
font-family: Arial, sans-serif;
background:  #085f81;
margin: 0;
padding: 40px;
}
.container {
max-width: 900px;
margin: auto;
background: rgb(226, 226, 230);
padding: 30px;
border-radius: 10px;
}
h1 {
text-align: center;
color: #000;
}
table {
width: 100%;
border-collapse: collapse;
margin-top: 25px;
}
th,
td {
border: 1px solid #000208;
padding: 12px;
text-align: left;
color: #000;
}
th {
background:  #085f81;
}